.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Высота для больших экранов */
  margin: 0;
  overflow: hidden;
  position: relative;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px; /* Отступы для контента */
  width: 100%;
  box-sizing: border-box; /* Включаем отступы и границы в ширину элемента */
}


/* Медиа-запрос для мобильных устройств */
@media (max-width: 600px) {
  .App {
    height: auto; /* Убираем фиксированную высоту */
    padding: 0; /* Убираем отступы */
  }

  .background-video {
    height: 50vh; /* Уменьшаем высоту видео на мобильных устройствах */
  }

  .content {
    margin-top: 10px; /* Отступ сверху для контента */
    padding: 0 10px; /* Отступы для контента на мобильных устройствах */
  }
}
