.main {
  margin-top: 50px; 
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
}

.logo-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px; 
  width: 80%;
  max-width: 1200px; 
  justify-content: center; 
}

.country-box {
  position: relative; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 3px solid #ff5600;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

.country-box:hover {
  transform: scale(1.1);
}

.coming-soon {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: #ff5600;
  font-size: 16px;
}

.country-logo {
  width: 200px;
  cursor: pointer;
}
