.main {
    margin-top: 50px; 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
  }
  
  .logo-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    width: 80%;
    max-width: 1200px;
    justify-content: center;
    box-sizing: border-box; 
  }
  .country-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 3px solid #ff5600;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, background-color 0.3s;
    position: relative; 
    overflow: hidden; 
  }
  
  .country-box:hover {
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, 0.5); 
}
  .country-box:not(.no-hover):hover {
    transform: scale(1.1);
    background-color: rgba(0, 0, 0, 0.5); 
  }
  
  .country-box:not(.no-hover)::after {
    content: "Coming Soon";
    position: absolute;
    bottom: 10px; 
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    opacity: 0; 
    transition: opacity 0.3s; 
  }
  
  .country-box:not(.no-hover):hover::after {
    opacity: 1; 
  }
  .country-logo {
    width: 200px;
    cursor: pointer;
  }
  @media (max-width: 600px) {
    .logo-grid {
      grid-template-columns: repeat(2, 1fr); 
      gap: 20px;
      width: 100%; 
    }
  
    .country-box {
      padding: 15px;
      border: 2px solid #ff5600;
      width: 100%; 
      box-sizing: border-box; 
    }
  
    .country-logo {
      width: 100%; 
      max-width: 150px; 
    }
  }